<div class="content">
  <div class="card-content">
    <div class="name">
      <span class="color" style="width: 48px; background-color: <%= @line.color %>; height: 12px;"></span> <%= @line.name %>
    </div>
    <div class="status">
      <%= @line.status %>
    </div>
    <div class="incident-count">
      <% if @incidents.empty? %>
        No Incidents
      <% else %>
        <ul>
          <% @incidents.each do |incident| %>
            <li>
              <%= incident.reason %>
              <br>
              <i><%= incident.created_at.strftime("on %A, %d %b %Y %l:%M %p")  %></i>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="stations">
    <% @line.stations.each do |station| %>
      <%= station.station_name %>
      <div class="line-color" style="background-color: <%= @line.color %>; height: 1px; width: 20%;"></div>
    <% end %>
  </div>
</div>
