<div class="content">
  <div class="card-content">
    <div class="name">
      <span class="color" style="width: 48px; background-color: <%= @line.color %>; height: 12px;"></span> <%= @line.name %>
    </div>
    <div class="status">
      <%= @line.status %>
    </div>
    <div class="incident-count">
      <% if @incidents.empty? %>
        No Incidents
      <% else %>
        <ul>
          <% @incidents.each do |incident| %>
            <li>
              <%= incident.reason %>
              <br>
              <i><%= incident.created_at.strftime("on %A, %d %b %Y %l:%M %p")  %></i>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="stations">
    <% @stations.each do |station| %>
      <div class="display">
        <div class="line-color" style="background-color: <%= @line.color %>; height: 12px; width: 48px;">
        </div>
          <div class="circle-parent">
            <%= link_to station_path(station) do %>
            <% if station.status != "Good Service" %>
              <div class="cirlce" style="border-color: red;">
                <p><%= station.name %></p>
              </div>
            <% else %>
              <div class="cirlce" style="border-color: black;">
                <p><%= station.name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="line-color" style="background-color: <%= @line.color %>; height: 12px; width: 48px;"></div>
      </div>
    <% end %>
  </div>
</div>
