<div class="card-content">
  <div class="name">
    <span class="color" style="width: 48px; background-color: <%= @line.color %>; height: 12px;"></span> <%= @line.name %>
  </div>
  <div class="status">
    <%= @line.status %>
  </div>
  <div class="incident-count">
    <ul>
      <li>
        <%= @incident.reason %>
        <br>
        <i><%= @incident.created_at.strftime("on %A, %d %b %Y %l:%M %p")  %></i>
      </li>
    </ul>
  </div>
</div>
