<div class="content">
  <div class="card-content">
    <div class="name">
      <span class="color" style="width: 48px; background-color: <%= @line.color %>; height: 12px;"></span> <%= @line.name %>
    </div>
    <div class="status">
      <%= @line.status %>
    </div>
    <div class="incident-count">
      <ul>
        <li>
          <%= @incident.reason %>
          <br>
          <i><%= @incident.created_at.strftime("on %A, %d %b %Y %l:%M %p")  %></i>
        </li>
      </ul>
    </div>
    <div class="stations">
      <% @line.stations.each do |station| %>
        <div class="display">
          <div class="line-color" style="background-color: <%= @line.color %>; height: 12px; width: 48px;"></div>
          <div class="circle-parent">
            <div class="cirlce">
              <p style="position: relative; bottom: -16px; width: 96px; left: -40px; margin-top: 3px;"><%= station.station_name %></p>
            </div>
          </div>
          <div class="line-color" style="background-color: <%= @line.color %>; height: 12px; width: 48px;"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

