<div class="content">
  <div class="delays">
    <% if @bad_lines.empty? %>
      <div class="delay-line-card">
        <div class="card-content">
          <div class="status">
            Currently all lines seem to be working fine!
          </div>
          <div class="status-reason last-incident">
            Last Incident:
            <%= @incidents.last.reason %>
          </div>
        </div>
      </div>
    <% else %>
      <% @bad_lines.each do |line| %>
        <div class="delay-line-card">
          <div class="card-content">
            <div class="name">
              <span class="color" style="width: 48px; background-color: <%= line.color %>; height: 12px;"></span> <%= line.name %>
            </div>
            <%= link_to line_incident_path(line.id, line.incidents.last.id) do %>
              <div class="status">
                <%= line.status %>
              </div>
              <div class="status-reason">
                <%= line.incidents.last.reason.gsub(/.*:\s/, "").strip %><%= "." unless line.incidents.last.reason.gsub(/.*:\s/, "").strip[-1] == "." %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="no-delays">
    <% @good_lines.each do |line| %>
      <div class="line-card">
        <div class="card-content">
          <div class="name">
            <span class="color" style="width: 48px; background-color: <%= line.color %>; height: 12px;"></span> <%= line.name %>
          </div>
          <div class="status">
            <%= line.status %>
          </div>
          <div class="incident-count">
            <%= link_to line_path(line) do %>
              <% unless line.incidents.empty? %>
                <%= pluralize(line.incidents.count, "Incident") %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <img src="http://www.bbc.co.uk/london/travel/downloads/tube_map.gif" alt="" class="tubemap">
</div>


