<div class="content">
  <div class="no-delays">
    <h2>Good Service for:</h2>
    <div class="row">
      <% @good_lines.each do |line| %>
        <div class="col-sm-3">
          <div class="line-card" style=" border: 1px solid <%= line.color %>; border-top: 5px solid <%= line.color %>;">
            <div class="name" style="background-color: <%= line.color %>; color: white;">
              <%= line.name %>
            </div>
            <div class="card-content">
              <%= link_to line_path(line) do %>
                <div class="status">
                  <%= line.status %>
                </div>
                <div class="incident-count">
                  <% unless line.incidents.empty? %>
                    <%= pluralize(line.incidents.count, "Incident") %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="delays">
    <h2>Faulty Service for:</h2>
    <div class="row">
      <% if @bad_lines.empty? %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="line-card">
            <div class="card-content">
              <div class="status">
                Currently all lines seem to be working fine!
              </div>
              <div class="status-reason last-incident">
                Last Incident:
                <%= @incidents.last.reason %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <% @bad_lines.each do |line| %>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="line-card" style=" border: 1px solid <%= line.color %>; border-top: 5px solid <%= line.color %>;">
              <div class="name" style="background-color: <%= line.color %>; color: white;">
                <%= line.name %>
              </div>
              <div class="card-content">
                <%= link_to line_path(line) do %>
                  <div class="status">
                    <%= line.status %>
                  </div>
                  <% if line.incidents.last %>
                    <div class="status-reason">
                      <%= truncate(line.incidents.last.reason.gsub(/.*:\s/, "").strip, length: 150) %><%= "." unless line.incidents.last.reason.gsub(/.*:\s/, "").strip[-1] == "." %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
